component-jpa/src/main/resources/schemas/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="sale" xmlns="https://www.w3schools.com">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
				<xs:element name="no_bill" type="xs:long" />
				<xs:element name="sells" type="xs:string"  />
				<xs:element name="	description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>